<template>
  <b-nav-item-dropdown right>
    <template slot="button-content">
      <img
        :src="icons[currentLocale]"
        class="country-icon"/>
        <span class="locale-name">{{label[currentLocale]}}</span>
    </template>
    <b-dropdown-item href="#"
            v-for="locale in locales"
            :key="locale.code"
            @click.prevent="changeLocale(locale)"
            >
            <img :src="icons[locale.code]" class="country-icon" />
            <span class="locale-name">{{locale.name}}</span>
     </b-dropdown-item>

  </b-nav-item-dropdown>
  <!-- <li class="has-sub-level">
        <a href="#">
          <img
          :src="icons[currentLocale]"
          class="country-icon"/>
          <span class="locale-name">{{label[currentLocale]}}</span>
        </a>
        <ul>
          <li>
            <a
            href="#"
            v-for="locale in locales"
            :key="locale.code"
            @click.prevent="changeLocale(locale)"
            >
              <img :src="icons[locale.code]" class="country-icon" />

              <span class="locale-name">{{locale.name}}</span>
            </a>
          </li>
        </ul>
  </li> -->
</template>

<script>
import enIcon from 'svg-country-flags/svg/gb.svg'
import frIcon from 'svg-country-flags/svg/fr.svg'

import { locales } from '@/../config/i18n'

export default {
  data () {
    return {
      icons: {
        en: enIcon,
        fr: frIcon
      },
      label: {
        en: 'Language',
        fr: 'Langue'
      },
      locales
    }
  },
  methods: {
    changeLocale (locale) {
      this.$i18n.locale = locale.code
      console.log(this.$i18n.locale)
    }
  },
  computed: {
    currentLocale () {
      return this.$i18n.locale
    }
  }
}
</script>

<style scoped>
  .country-icon {
    width: 20px;
    height: auto;
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid #dee2e6;
    box-shadow: 0px 1px 3px rgba(24, 29, 38, 0.1);
  }

  .country-icon.as-toggle {
    margin-top: 5px;
  }

  .locale-name {
    display: inline-block;
    vertical-align: baseline;
  }
</style>
