<template>
  <b-navbar type="dark" variant="primary" toggleable>
    <b-navbar-brand to="/">
      <b-row align-v="center">
        <img height="40" src="@/assets/main.png" class="d-inline-block align-top" alt="Logo"> <!--TODO : Remove blank from image -->
        Damien
      </b-row>
    </b-navbar-brand>
    <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
    <b-collapse is-nav id="nav_dropdown_collapse">
      <b-navbar-nav>
        <b-nav-item to="/" exact><i class="fas fa-home"></i> {{$t('homeTitle')}}</b-nav-item>
        <b-nav-item to="/about"><i class="far fa-user"></i> {{$t('about')}}</b-nav-item>
        <b-nav-item to="/projects"><i class="fas fa-bars"></i> {{$t('projects')}}</b-nav-item>
        <b-nav-item href="#"><i class="far fa-envelope"></i> {{$t('contact')}}</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/info"><i class="fas fa-info-circle"></i> {{$t('info.navBar')}}</b-nav-item>
        <localeSwitcher></localeSwitcher>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
<!-- <span>
  <header class="page-header left-bar bottom-mobile-bar" role="banner">
    <div class="page-wrapper full-width">
      <a href="#" class="page-logo-color main-image">
        <img src="@/assets/main.png" alt="">
      </a>
      <div class="page-nav" id="navOne">
        <nav role="navigation">
          <ul class="nav-primary">
            <li>
              <a href="#" class="is-selected">
                <i class="fas fa-home"></i> {{$t('homeTitle')}}
              </a>
            </li>
            <li class="has-sub-level">
              <a href="#">
                <i class="far fa-user"></i> {{$t('about')}}
              </a>
              <ul>
                <li>
                  <a href="#">Who we are</a>
                </li>
                <li>
                  <a href="#">Why we do it</a>
                </li>
                <li>
                  <a href="#">Another link</a>
                </li>
              </ul>
            </li>
            <li class="has-sub-level">
              <a href="#">
                <i class="fas fa-bars"></i> {{$t('projects')}}
              </a>
              <ul>
                <li>
                  <a href="#">Moi</a>
                </li>
                <li>
                  <a href="#">Mon cursus</a>
                </li>
                <li>
                  <a href="#">Mes compétences</a>
                </li>
                <li>
                  <a href="#">Mes loisirs</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="far fa-envelope"></i> {{$t('contact')}}
              </a>
            </li>
            <localeSwitcher></localeSwitcher>
          </ul>
        </nav>
      </div>
    </div>
  </header>
    <div class="page-header-mobile">
        <a href="#" class="page-logo-color">Damien FERNANDES</a>
        <button class="trigger-nav-container" data-trigger-nav="navOne">
            <span class="title">Menu</span>
            <span class="icon-burger"></span>
        </button>
    </div>
</span> -->
</template>

<script>
import LocaleSwitcher from './LocaleSwitcher'

export default {
  computed: {
    currentLocale () {
      return this.$route.params.locale
    }
  },

  components: {
    LocaleSwitcher
  },
  name: 'NavBar'
}
</script>
