<template>
  <div id="app">
    <navBar></navbar>
    <b-container>
      <router-view/>
    </b-container>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar'
import VueI18n from 'vue-i18n'
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'
import messagesFR from '@/../static/translations/fr.json'
import messagesEN from '@/../static/translations/en.json'
import 'bootstrap/dist/css/bootstrap.css'
import '@fortawesome/fontawesome-free/css/all.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

import _ from 'lodash'

const messages = _.merge(messagesFR, messagesEN)

Vue.use(VueI18n)
Vue.use(BootstrapVue)

const i18n = new VueI18n({
  locale: navigator.language,
  fallbackLocale: 'en',
  messages
})

export default {
  name: 'App',
  i18n,
  components: {
    NavBar
  }
}
</script>

<style>
</style>
